body {
  margin: 0;
  overflow: hidden;
  font-family: "Tahoma", sans-serif;
  font-size: 15px;
  background: #fff8e6;
}

h1 {
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

#left_container {
  float: left;
  width: 63%;
  margin: 0;
  padding-left: 10px;
  padding-top: 0;
}

#right_container {
  float: right;
  margin: 0;
  width: 35%;
  padding-top: 0;
}

.filters {
  margin: 10px;
}

/* Page header */
header {
  background-color: #2b0104;
  overflow: hidden;
  font-family: american typewriter, serif;
}

header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
}

header a:hover {
  font-weight: bold;
}

.page_title {
  color: wheat;
  font-size: 32px;
  padding-top: 7px;
}

.page_title:hover {
  font-weight: normal;
}

.page_selected {
  background-image: url("./selectedBackground.png");
  background-size: 100% 100%;
  font-weight: bold;
}

/* Tooltip */
#tooltip {
  position: absolute;
  display: none;
  background: antiquewhite;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  padding: 8px;
  min-width: 160px;
}

.tooltip-title {
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

/* legend */
.legend-label {
  font-size: 14px;
}

.legend-title {
  font-size: 14px;
  font-weight: bold;
}

/* dropdowns */
select {
  font-family: "Tahoma", sans-serif;
  font-size: 15px;
  background-color: #f7e0c3;
  border-radius: 5px;
}

.information {
  padding: 10px;
}

#book_info {
  margin-bottom: 10px;
  margin-right: 30px;
  background-color: antiquewhite;
  height: 240px;
}

.book_title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-family: american typewriter, serif;
}

.book_location {
  padding: 10px;
  height: 120px;
  font-size: 15px;
  overflow-y: scroll;
}

/* map styling */
.sphere {
  fill: #48c8d4;
}
